<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block page_title %} {% endblock %} Hacker News</title>
    <link rel="icon" type="image/gif" href="{% static '/img/y18.gif' %}">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock %}
</head>

<!--HEADER -->
<header class="header-main">
    <!-- TITLE -->
    <div class="title">
        <div class="logo-div">
                <a href="{% url 'Home' %}">
                <img class="logo" src="{% static '/img/y18.gif' %}" alt="Logo">
            </a>
        </div>
        <a class="page_title" href="{% url 'News' %}">Hacker News</a>
    </div>
    <!-- NAVIGATION -->
    <div class="navigation">
        <ul class="navigation-nav">
        {% block navbar %}
            <li class="nav-item {% if request.path == '/news/' %}active {% endif %}">
                <a class="nav-link" href="{% url 'Newest' %}">new</a>
            </li>
            |
        {% if user.is_authenticated %}
            <li class="nav-item {% if request.path == '/threads/' %}active {% endif %}">
                <a class="nav-link" href="{% url 'Thread' %}">threads</a>
            </li>
            |
        {% endif %}
            <li class="nav-item {% if request.path == '/ask/' %}active {% endif %}">
                <a class="nav-link" href="{% url 'Ask' %}">ask</a>
            </li>
            |
            <li class="nav-item {% if request.path == '/submit/' %}active {% endif %}">
                <a class="nav-link" href="{% url 'submissionView' %}">submit</a>
            </li>
            {% block addOption %}
            {% endblock %}
        {% endblock %}
        </ul>
    </div>
    <!-- user -->
    <div class="right-div">
        {% if user.is_authenticated %}
            <div class="navigation">
                <ul class="navigation-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ShowProfile' user.id %}">{{ user.username }}</a>
                    </li>|
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Logout' %}">logout</a>
                    </li>
                </ul>
            </div>

        {% else %}
            <a href="{% url 'Login' %}">login</a>
        {% endif %}
    </div>

</header>
<body>
<div class="main-div">
    {% block content %}
    {% endblock %}
</div>
<footer>
<div class="line"></div>
<div class="footer-text">
    Applications are open for YC Summer 2022
</div>
</footer>

</body>
</html>