{% extends "base.html" %}

{% load static %}
{% block content %}

{% for submission in Submissions %}
    <div class="row">
        <span class="number" >&nbsp;&nbsp;{{ forloop.counter }}.</span>
        <a href="{% url 'Home' %}">
            <img class="upvote" src="{% static '/img/grayarrow.gif' %}" title=upvote alt="upvote">
        </a>
        <a href="{{submission.url}}" class="row"> {{submission.title}} </a>
        <a href="{% url 'Home' %}"> <span class="link"> {{submission.domainurlname}} </span> </a>
        <div class="charateristics">
        <span class="score">{{submission.points}} points by</span>
        <a href="{% url 'Home' %}"> <span class="user">{{submission.author}}</span> </a>
        <a href="{% url 'Home' %}"> <span class="time">{{submission.viewed_time}} |</span>  </a>
        <a href="{% url 'Home' %}"> <span class="unvote"> unvote |</span> </a>
        <a href="{% url 'Home' %}"> <span class="hide">hide</span> </a>
        <a href="{% url 'Home' %}"> <span class="comments">{{submission.comments}} </span> </a>
        </div>
    </div>
    <br>
{% endfor %}

{% endblock %}