{% extends "news.html" %}
{% load static %}
{% block styles %}
    <link href="{% static '/css/profile/style.css' %}" rel="stylesheet">
{% endblock %}
{% block addOption%}
    |
    <li class="nav-item element">{{ user.username }}'s submissions
    </li>
{% endblock %}
{% block more%}
    {% if pages.has_next %}
    <a href ="{% url 'ShowUserSubmissions' user.id %}?pages={{ pages.next_page_number }}" style="margin-top: 50px">  <span class="morestyle" > More</span></a>
    {%  endif %}
{% endblock %}