{% extends "base.html" %}
{% load unvote %}
{% load static %}
{% block styles %}
    <link href="{% static '/css/item/viewItem.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="view-item-main">
        <div class="submission">
            <div class="submission-header">
                <div class="submission-title">
                    {% if user == submission.author %} <span style="color: #ff6600">* </span>
                    {% elif not submission|isVoted:user %}
                        <a href="{% url 'voteSubmission' submission.id %}">
                            <img class="upvote" src="{% static '/img/grayarrow.gif' %}" title=upvote alt="upvote">
                        </a>
                    {% endif %}
                    {% if submission|isVoted:user %} <span style="margin-right: 15px;"></span>{% endif %}
                    <span class="title-text"><a href="{{ submission.url }}">{{ submission.title }}</a></span>
                    {% if submission.type.name == "url" %}
                        <span class="title-url"><a href="{{ submission.url }}">{{ submission.domainurl }}</a> </span>
                    {% endif %}
                </div>
                <div class="submission-subtitle">
                    <span class="score">{{ submission.votes.count }} points by</span>
                    <a href="{% url 'ShowProfile' submission.author.id %}"> <span
                            class="user">{{ submission.author }}</span> </a>
                    <a href="{% url 'ViewItem' submission.id %}"> <span
                            title={{ submission.created_at.year }}-{{ submission.created_at.month }}-{{ submission.created_at.day }}T{{ submission.created_at.hour }}:{{ submission.created_at.minute }}:{{ submission.created_at.second }}
                            class="time">{{ submission.timesincecreation }} |</span> </a>
                    {% if submission|isVoted:user %}
                        <a href="{% url 'unvoteSubmission' submission.id %}"> <span class="unvote"> unvote |</span> </a>
                    {% endif %}

                    {% if not submission.comments.count %}
                        <a href="{% url 'ViewItem' submission.id %}"> <span class="comments"> discuss</span> </a>
                    {% else %}
                        <a href="{% url 'ViewItem' submission.id %}"> <span
                                class="comments"> {{ submission.comments.count }}</span> </a>
                    {% endif %}
                    {% if submission.calculateseconds < 7200 %}
                        <a href="{% url 'EditItem' submission.id %}"> <span class="edit">| edit </span> </a>
                    {% endif %}
                    {% if submission.calculateseconds < 1800 %}
                        <a href="{% url 'DeleteItem' submission.id %}"> <span class="edit">| delete </span> </a>
                    {% endif %}
                </div>
                {% if submission.type.name == "ask" %}
                    <div class="ask-text">
                        <p>{{ submission.text |linebreaks}}</p>
                    </div>
                {% endif %}

            </div>
            <div class="add-comment">
                <form action="" method="POST">
                    <div class="form-comment-box">
                        {{ form }}
                    </div>
                    <div class="form-comment-message">
                        <span>If you haven't already, would you mind reading about HN's <a href="#"><u>approach to comments</u></a> and <a
                                href="#"><u>site guidelines</u></a>?</span>
                    </div>
                    <div>
                        <input type="submit" value="add comment">
                    </div>
                </form>
            </div>
        </div>
        <div class="comments-container">
            {% commentsTree submission %}
        </div>


    </div>
{% endblock %}